/* Master styles */
.loader {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    background-color: #87ceeb;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
}

.body {
    /* Default magrin is 8px */
    margin: 0px;
    /*font-family: "Lato", sans-serif;*/
    font-family: "Vollkorn", sans-serif;
}

.container {
    /* Displays a grid like structure for the containers and classes*/ 
    display: grid;
    /*font-size: 1.2em;*/

    /* 1 fr is 100% of the avaliable space is a column */
    grid-template-columns: 1fr;
}

/* Nav Bar Styles */
/* To select a class/object to change, use the following format: */
.nav_bar{
    /* flex makes it so that they align on the same line */
    display: flex;

    /* This makes it so that it seperates it by the most possible space and putting it between them */
    justify-content: space-between;

    /* Padding adds extra space to the border */
    padding: 38px; 
    background-color: #EEF1F7;
}

.left_side {
    display: flex;
}

/* This is like going down a tree where it selects all divs on the left side
And applies the following to all of them */
.nav_bar > .left_side > div {
    /* Seperates the divs by 20 px to the right */
    margin-right: 20px;

    /* "em" is a percent of the usual font size which is 1 */
    font-size: 0.9em;

    /* Makes all texts uppcase */
    text-transform: uppercase;
}

.nav_bar_left_link {
    position: relative;
    display: inline-block;
    height: 22px;

    /* This is used later for animations, so its transparent for now */
    border-bottom: 1px solid transparent;

    /* 0.5 seconds long */
    transition: border-bottom 0.5s;
}

/* This is used to select all "a" elements in the class */
.nav_bar_left_link a {
    color: #8a8a8a;

    /* To get rid of the basic border that HTML provides and 
    add our own using border-bottom */
    text-decoration: none;

    transition: color 0.5s;
}

/* This is used to detect hover on anything within this class */
.nav_bar_left_link:hover {
    border-bottom: 1px solid black;
}

.nav_bar_left_link a:hover {
    color: black;
}

/* Setting it up so that it is an active state */
.nav_active {
    border-bottom: 1px solid black;
}

/* The !important means not important, to make sure it does not override the default color state */
.nav_active a {
    color: black !important;
}

/* Dropdown boxes */

.dropdown_content {
    position: absolute;
    background-color: white;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    padding-top: 3px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    pointer-events: none;
}

.nav_bar_left_link:hover .dropdown_content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.two_column_page {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
}

.banner_block {
    position: relative;
}

.banner_image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

.loader {
    -webkit-animation: load-out 3s;
    animation: load-out 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes load-out {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 100%;
        opacity: 0;
    }
}

@keyframes load-out {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 100%;
        opacity: 0;
    }
}