.walmart_title {
    display: block;
}

.walmart_title_block {
    display: flex;
    padding-top: 50px;
    color: rgba(20, 20, 20, 0.9);
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.walmart_title_block h1 {
    border-radius: 0em;
    font-weight: 900;
    font-size: 80px;
    margin: 0px;
}

.summary {
    padding-left: 50px;
}

.summary h3{
    font-size: 2em;
    padding-left: 15px;
}

.summary p{
    padding-left: 50px;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.summary_image {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.learning_process {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-left: 150px;
    margin-right: 150px;
}

.learning_process h3{
    font-size: 2em;
    padding-left: 15px;
}

.learning_process p{
    padding-left: 50px;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.learning_image{
    display: block;
    text-align: center;
}

.caption p{
    padding-left: 0;
    text-align: center;
    color: rgba(55, 53, 47, 0.6);
}
