.intro {
    padding-top: 50px;
    color: rgba(55, 53, 57, 0.8);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.intro h1 {
    border-radius: 0em;
    font-weight: 900;
    font-size: 80px;
    margin: 0px;
}

.emoji_title {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.emoji_title h2 {
    font-size: 55px;
    margin: 0px;
}

.smile_emoji {
    background-image: url("Images/smile_emoji.png");
    width: 3em;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.7em;
}

.main_section {
    padding-left: 100px;
    padding-right: 100px;
}

.two_section_page {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.profile {
    padding-right: 10px;
    padding-bottom: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p {
    margin: 0px;
    padding: 3px 2px;
    font-size: 20px;
}

.profile_picture {
    text-align: center;
}

.profile_picture img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    /*margin-left: 5px;*/
    height: 400px;
}

.social_media {
    display: flex;
    background-color: lightblue;
    padding-right: 10px;
}

.social_media_links {
    display: flex;
}

.social_media_links a{
    display: flex;
}

.social_media_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social_media_text p {
    margin: 0px;
    color: black;
}

.social_media_links img {
    height: 50px;
    width: auto;
    padding: 10px;
}

.tech_skills h3 {
    font-size: 2em;
    padding-left: 15px;
}

.skill_links {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.skill_links p{
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.soft_skills h3{
    font-size: 2em;
    padding-left: 15px;
}

.soft_skill_list p {
    padding-top: 10px;
    padding-left: 60px;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 10px;
}